
.hline {
  width:100%;
  height: 1px;
  background: #eceeef;
  margin-bottom: 30px;
}

#header {
  background-color: #717883;
  color: white;
  font-size: 50px;
}

#front img {
  width: 300px;
  margin-left: 50px;
  padding-bottom: 10px;
}

#monkey img {
  width: 100px;
}
