


#header {
  background-color: #717883;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

#front img {
  width: 300px;
  margin-left: 50px;
  padding-bottom: 10px;
}

#monkey img {
  width: 100px;
}
